@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.ant-menu-horizontal, .ant-menu-root, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;

}
input{
    border: 1px solid #5F9EA0;
    border-radius: 4px;
}
textarea{
    border: 1px solid #5F9EA0;
    border-radius: 4px;
}

.layoutDocument {
    background: #000;
    overflow-x:hidden;
}

.layoutContent {
    min-width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    background: #fafafa;
    padding: 5% 2% 0% 2%;
}
.layoutFooter{
    text-align: center;
    background: #fafafa;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
}
.layoutFooter span{
    color:  #5F9EA0;
}
.ant-table-thead .ant-table-cell {
    background-color: rgba(95, 158, 160, 0.16) !important;
}

.ant-layout-header {
    width: 100%;
    height: 100vh;
    background-image: url("./Image/Header/ImageHeader.jpg");
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    background-size: cover;
    color: white;
}
.ant-progress-bg{
    animation: progressAnimationStrike 6s;
}

@keyframes  progressAnimationStrike {

    from { width: 0}
    to   { max-width: 100% }

}

@media screen and (max-width: 992px) {
    .layoutDocument {
        width: 100vw;
    }

    .layoutContent {
        width: 100%;
        padding: 15px;
        min-width: 400px;
        max-width: 600px;
    }

    .ant-layout-header {
        width: 100vw;
        max-height: 300px;
    }
    .ant-menu > .ant-menu-item{
        padding: 0!important;
        text-align: center!important;
        font-family: 'Lato', sans-serif!important;
    }
}

