.photoAboutMe {
    width: 400px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.tempCol1 {
    text-align: center;
}

.textTitle {

    text-align: center;
    text-transform: uppercase;
    color: cadetblue !important;
    font-family: 'Fredericka the Great', cursive;
}

.textTitleShadow {
    text-align: center;
    text-transform: uppercase;
    color: cadetblue !important;
    font-family: 'Fredericka the Great', cursive;
    margin: 0 !important;
    position: absolute;
    font-size: 70px;
    opacity: 15%;
    top: -3%;
    right: 0;
    bottom: 0;
    left: 0;
}
.paragrafText{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: 10%;
    text-indent: 1em;
    text-align: justify;
}
.paragrafText p{
    margin-bottom: 0
}
.paragrafText p+P{
    text-indent: 1em;
    margin-top: 0
}

@media screen and (max-width: 992px) {
    .photoAboutMe {
      display: none;
    }
    .textTitleShadow{
        font-size: 50px;
        top: 0
    }
    .paragrafText p{
      padding: 0 15px 0 15px ;
    }
}